<!-- directiva ngFor -->
<ul>
    <li *ngFor="let fruta of frutas"> {{ fruta }}</li>
</ul>
<button (click)="addFrutas()">Add frutas</button>
<br>
<br>

<!-- directiva ngIF -->
<ng-container *ngIf="!isLogged; else logged">
    <button (click)="isLogged = true">Iniciar sesión</button>
    <button>Registrarse</button>
</ng-container>

<ng-template #logged>
    <button>Ir a mi perfil</button>
    <button (click)="isLogged = false">Cerrar sesión</button>
</ng-template>

<!-- ngModule -->
<h3>Mi nombre es {{ nombre }}</h3>

<mat-form-field appearance="fill">
    <mat-label>Nombre</mat-label>
    <input matInput [ngModel]="nombre">
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>Nombre</mat-label>
    <input matInput [(ngModel)]="nombre">
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>Nombre</mat-label>
    <input matInput [ngModel]="nombre" (ngModelChange)="setNombre($event)">
</mat-form-field>






<h3>Lista de marca de carros: </h3>
<input type="text" [(ngModel)]="selectMarcaCarro">
<select name="" id="" [(ngModel)]="selectMarcaCarro">
    <option value="" selected>Seleccione...</option>
    <option value="Toyota">Toyota</option>
    <option value="Hyundai">Hyundai</option>
    <option value="Mazda">Mazda</option>
</select>

<mat-form-field appearance="fill">
    <mat-label>Buscar</mat-label>
    <input matInput [(ngModel)]="selectMarcaCarro">
</mat-form-field>
<mat-form-field appearance="fill" >
    <mat-label [(ngModel)]="selectMarcaCarro">Seleccione...</mat-label>
    <mat-select>
      <mat-option value="Toyota">Toyota</mat-option>
      <mat-option value="Hyundai">Hyundai</mat-option>
      <mat-option value="Mazda">Mazda</mat-option>
    </mat-select>
</mat-form-field>

<h4>Has seleccionado {{selectMarcaCarro}}</h4>
<br>

<!-- token from service loggin -->
<h3>{{ getToken() }}</h3>
<button (click)="setToken()">Cambiar Token</button>