<h1 class="mt-4">Facturas</h1>
<hr>
<button [routerLink]="['/facturas/create']" class="btn btn-primary mt-4">Crear nueva factura</button>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th scope="col">Numero factura:</th>
        <th scope="col">Fecha vencimiento:</th>
        <th scope="col">Cliente:</th>
        <th scope="col" style="width: 300px;">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let factura of facturas">
        <td> {{ factura.numero_factura }}</td>
        <td> {{ factura.fecha_vencimiento }}</td>
        <td> {{ factura.id_cliente }}</td>
        <td>
          <button [routerLink]="['/facturas/', factura.id, 'edit']" class="btn btn-warning">Editar</button>
          <button href="#" [routerLink]="['/facturas/', factura.id, 'show']" class="btn btn-info">Mostrar</button>
          <button (click)="deleteFactura(factura.id)" class="btn btn-danger">Borrar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
