* {
    margin: 0px;
    padding: 0px;
}



.content {
    background-color: lightgray;
}

.flex-container {
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.article {
    max-width: 400px;
    margin: 20px;
    padding: 10px;
    background-color: aliceblue;
}

.info {
    background-color: #3CCF4E;
}

.center {
    text-align: center;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.menu-principal {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #003865;
  width: 100%;
  height: 50px;
}

.item-menu-pricipal {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.item-menu-pricipal:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}

.container {
    display: flex;
}

.container-space {
    flex-grow: 1;

    background-color: whitesmoke;
}

.container-content {
    flex-grow: 10;
    background-color: #04AA6D;
}