<h1 class="mt-4">Información detallada de la factura</h1>
<hr>
<button href="#" routerLink="/facturas/index" class="btn btn-secondary mt-4 mb-3">Regresar</button>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <th>Campo</th>
      <th>Valor</th>
    </thead>
    <tbody>
      <tr>
        <th scope="col">Id: </th>
        <td>{{ factura.id }}</td>
      </tr>
      <tr>
        <th scope="col">Número de factura: </th>
        <td>{{ factura.numero_factura }}</td>
      </tr>
      <tr>
        <th scope="col">Fecha de vencimiento: </th>
        <td>{{ factura.fecha_vencimiento }}</td>
      </tr>
      <tr>
        <th scope="col">Cliente: </th>
        <td>{{ factura.id_cliente }}</td>
      </tr>
      <tr>
        <th scope="col">Creado: </th>
        <td>{{ factura.created_at }}</td>
      </tr>
      <tr>
        <th scope="col">Actualizado: </th>
        <td>{{ factura.updated_at }}</td>
      </tr>
    </tbody>
  </table>
</div>
