<h1 class="mt-4">Editar cliente</h1>
<hr>
<button href="#" [routerLink]="'/clientes/index'" class="btn btn-secondary mt-4 mb-3">Regresar</button>
<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="mb-3">
    <label for="name" class="form-label">Nombre:</label>
    <input formControlName="name"
           id="name"
           type="text"
           class="form-control">
  </div>
  <div class="mb-3">
    <label for="lastName" class="form-label">Apellido:</label>
    <input formControlName="lastName"
            id="lastName"
            type="text"
            class="form-control">
  </div>
  <div class="mb-3">
    <label for="address" class="form-label">Dirección:</label>
    <input formControlName="address"
            id="address"
            type="text"
            class="form-control">
  </div>

  <div class="mb-3">
    <label for="email" class="form-label">Email:</label>
    <input formControlName="email"
            id="email"
            type="text"
            class="form-control">
  </div>

  <button type="submit" class="btn btn-success">Enviar</button>
</form>
