<h1 class="mt-4">Información detallada del cliente</h1>
<hr>
<button href="#" [routerLink]="'/clientes/index'" class="btn btn-secondary mt-4 mb-3">Regresar</button>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <th>Campo</th>
      <th>Valor</th>
    </thead>
    <tbody>
      <tr>
        <th scope="col">Id: </th>
        <td>{{ cliente.id }}</td>
      </tr>
      <tr>
        <th scope="col">Nombre: </th>
        <td>{{ cliente.name }}</td>
      </tr>
      <tr>
        <th scope="col">Apellido: </th>
        <td>{{ cliente.lastName }}</td>
      </tr>
      <tr>
        <th scope="col">Dirección: </th>
        <td>{{ cliente.address }}</td>
      </tr>
      <tr>
        <th scope="col">Correo: </th>
        <td>{{ cliente.email }}</td>
      </tr>
      <tr>
        <th scope="col">Creado: </th>
        <td>{{ cliente.created_at }}</td>
      </tr>
      <tr>
        <th scope="col">Actualizado: </th>
        <td>{{ cliente.updated_at }}</td>
      </tr>
    </tbody>
  </table>
</div>
